h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: blueviolet;
}

canvas{
    animation-name: CanvasAnim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes CanvasAnim {
    from{box-shadow: brown 10px 5px 8px;}
    to{box-shadow: darkgoldenrod 10px 5px 8px;}
}